body > * {
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
body {
  background-color:rgb(206, 212, 211);
  min-height: 100vh;
  display: grid;
 /*elimiar para fazer o scrol automatico*/
  grid-template-rows: 95px 250px 350px 180px 150px 500px 450px;
  column-gap: 0px;
  row-gap: 0px;
}
.cabecalho {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(120, 162, 167);
  padding: 20px 120px;
}
.list {
  padding: 10px;
  display: inline;
  color:#d5f5f4;
}
.imagem-topo1 {
  grid-column: 1 / 5;
}
.imagem-topo {
  grid-column: 1 / 5;
}
.avatar__imagem1 {
  height: 100%;
  width: 100%;
 /* border-radius: 50%;*/
}
.imagem-topo1 {
  height: 56px;
  width: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid white;
}
.imagem-topo3 {
  /*padding: 0px 0px;*/
  grid-column: 2 /3;
  border-color: rgb(206 212 211);
  border-width: 3px;
 /* height: 0px;*/
  border-radius: 160px;
  border-style: solid;
}
.avatar__imagem3 {
  height:100%;
  width: 100%;
  border-radius: 100%;
}
.imagem-topo3 {
  height: 200px;
  width: 200px;
 /* align-items: center;
  justify-content: center;*/
}
.conteudo {
 align-items: center;
 padding: 100px 1px; 
  grid-column: 1 / 5;
}
.lateral {
 /* align-items: flex-start;*mofificcio 3*/
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  grid-column: 1 / 5;
}
.publicidade-lateral {
  background-color: rgb(117, 189, 247);
  grid-column: 1 / 5;
}
/*//// nueva posicion Grid para carrusel //////*/
.publicidade-final {
  grid-column: 1 / 5;
}
.rodape {
  background-color:rgb(120, 162, 167);
  grid-column: 1 / 5;
}
.botao {
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
}
.botao-car {
  display: inline-flex;
  align-items: center;
  border-width: 0px;
  border-style: solid;
  height: 36px;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: none;
  cursor: pointer;
}
.botao__primario {
  background-color: transparent;
  color: #2489ed;
  border-color: #ffffff;
}
.botao__primario:hover {
  background-color: rgb(252, 253, 253);
  border-width: 3px;
}
.botao__primario:active {
  background-color: rgb(254, 255, 255);
  color: #004182;
  border-color: #004182;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-height: 100%;
  max-width: 100%; }
.card__info{
  height: 90px;
  width: 181px;
  /*border-radius: 12px;
  background-color: rgb(255 255 255);
 /* box-shadow: 0 5px 7px 0 rgba(0 0 0 / 20%);*/
  /*overflow: hidden;*/
  text-align: center;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.card__info > span {
  display: block;
  margin-top: 0px;
}
.card__titulo {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(137, 186, 202);
  border-radius: 7px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-size: 8px;
  /*line-height: 8px;*/
  /*width: fit-content;*/
  padding: 2px 4px;
 /* margin-bottom: 0px;*/
  margin-top: 0px;
}
.card__servico {
  line-height: 12px;
  font-size: 12px;
  font-weight: 300;
  color: rgb(102 102 102);
}
.card__interesse  {
  line-height: 12.6px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(0 0 0 / 80%);
}
.card__descricao {
  font-size: 10px;
  line-height: 10.8px;
  color: rgb(49, 157, 239);
}
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');*/

.container.box {
    background-color: #2F3644;
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 550px;
    margin:10px;
    display:table;
}
.container.box .box-row{
  display:table-row;
}  
.container.box .box-cell {
  display:table-cell;
  border:px solid black;
  width:25%;
  padding:60px;
}
/*/////// formulario   //////*/
.form {
  margin: 0 auto;
  width: 330px;
  padding: 1em;
  border: 3px solid #CCC;
  border-radius: 1em;
}
.form div + div {
  margin-top: 1em;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-bottom: 5px; 
    color: #ffffff;
}
.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 70%;
    padding: 15px;
}
.form button {
    background-color: #0e86e7;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 80%;
    margin-top: 5px;
    cursor: pointer;
}
.form button:hover {
    background-color: #4fb8f5;
    transition: 0.4s;
}
.form textarea {
  min-height: 6rem;
  resize: vertical;
}
.center {
  text-align: center;
}
/*//////////////////////////////////    Carrusel /////////////////////*/
.carrusel {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define 4 columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre columnas */
}
.carrusel-items {
  margin-top: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-column: 1 / 5; /* El carrusel ocupa desde la primera hasta la cuarta columna */
  overflow-x: scroll;
  padding: 8px 0px;
}
.carrusel-item {
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 5px 7px 0 rgba(0 0 0 / 20%);
}
.carrusel-item img {
  width: 60%;
  height: 50%;
  object-fit: cover;
  /*display: flex;
  /*justify-content: center;*/
  align-items: center;
  /*margin-top: 20px;*/
}

/* boton para ir al repositorio o al demo
.card__titulorepositorio {
  text-align: center;
  background-color: rgb(110, 115, 115);
  border-radius: 3px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  width: fit-content;
  padding: 2px 6px;
  margin-bottom: 15px;
}
<a href="https://github.com/Velchael/react-dummydos.git" class="botao-car botao_primario">
                         <spam class="card__titulorepositorio">Repositorio</spam>
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                          <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>
                         </svg>
                        </a>
                        <a href="https://velchael.github.io/react-dummydos" class="botao-car botao_primario">
                         <spam class="card__titulorepositorio">Demo</spam>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                          <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>
                         </svg>
                        </a>
*/

/* possionamiento al ininiciar el site
 window.addEventListener('load', function() {
          var bodyElement = document.querySelector('body:first-child');
          if (bodyElement) {
            liElement.scrollIntoView();
          }
        });*/