

/*<div class="box-cell box1">*/
body > * {
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

body {
  background-color:rgb(206, 212, 211);
  min-height: 100vh;
  /*display: grid; */
 /*elimiar para fazer o scrol automatico*/
  grid-template-rows: 60px 500px 350px 180px 150px 500px 700px;
  column-gap: 0px;
  row-gap: 0px;
}

.cabecalho {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(0, 113, 128);
  padding: 20px 120px;
  
}
.list {
  padding: 10px;
  
  display: inline;
  color:#d5f5f4;
}


.imagem-topo1 {
  grid-column: 1 / 5;
}


.imagem-topo {
  grid-column: 1 / 5;
}
.avatar__imagem1 {
  height: 100%;
  width: 100%;
  border-radius: 50%; 

}

.imagem-topo1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 58px;
  color: #ffffff;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagem-topo3 {
  padding: 0px 0px;
  grid-column: 2 /3;

  border-color: rgb(206 212 211);
  border-width: 3px;
  height: 0px;
  border-radius: 160px;
  border-style: solid;

}

.avatar__imagem3 {
  height:100%;
  width: 100%;
  border-radius: 100%;
}

.imagem-topo3 {
  height: 300px;
  width: 300px;

  align-items: center;
  justify-content: center;

}


.conteudo {
  align-items: center;
  padding: 180px 1px;
  grid-column: 3 / 4;
}

.lateral {
  align-items: flex-start;
  background-color: darkgray;
  grid-column: 1 / 5;
}

.publicidade-lateral {
  background-color: rgb(117, 189, 247);
  grid-column: 1 / 5;
}

/*.publicidade-final {
  /*grid-column: 1 / 5;
  margin-top: 0;
  padding: 10px;
 /* grid-column-start: 0;
  grid-column-end: 5;
}*/

.rodape {
  background-color: rgb(0, 113, 128);
  grid-column: 1 / 5;
}

.botao {
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
}

.botao-car {
  display: inline-flex;
  align-items: center;
  border-width: 0px;
  border-style: solid;
  height: 36px;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: none;
  cursor: pointer;
}

.botao__primario {
  background-color: transparent;
  color: #101011;
  border-color: #070707;
}

.botao__primario:hover {
  background-color: rgb(252, 253, 253);
  border-width: 3px;
}

.botao__primario:active {
  background-color: rgb(254, 255, 255);
  color: #004182;
  border-color: #004182;
}



a {
  text-decoration: none;
  color: inherit;
}

img {
  max-height: 100%;
  max-width: 100%; }

.card {
  height: 450px;
  width: 225px;
  border-radius: 4px;
  background-color: rgb(255 255 255);
  box-shadow: 0 1px 2px 0 rgba(0 0 0 / 12%);
  overflow: hidden;
  font-family: sans-serif;
}
.card:hover {
  box-shadow: 0 0 1px 1px rgba(0 0 0 / 7%), 0 10px 15px 0 rgba(0 0 0 / 10%);
}

.card__imagem {
  border-bottom: 1px solid rgb(245 245 245);
  height: 250px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.card__info {
  padding: 15px;
}

.card__info > span {
  display: block;
  margin-top: 3px;
}

.card__titulo {
  text-align: center;
  background-color: rgb(227, 53, 250);
  border-radius: 3px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  width: fit-content;
  padding: 2px 4px;
  margin-bottom: 4px;
}

.card__titulorepositorio {
  text-align: center;
  background-color: rgb(110, 115, 115);
  border-radius: 3px;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  width: fit-content;
  padding: 2px 6px;
  margin-bottom: 15px;
}

.card__servico {
  font-size: 12px;
  font-weight: 300;
  color: rgb(102 102 102);

}

.card__interesse  {
  font-size: 24px;
  line-height: 24px;
  color: rgba(0 0 0 / 80%);
}

.card__descricao {
  font-size: 12px;
  line-height: 18px;
  color: rgb(0 166 80);
}

.buttonrodapie {
  /* Para posicionar os botões para a mesma posição dos campos de texto */
  padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
.buttonrodapie {
  /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
  margin-left: .5em;
}
.buttonrodapie {
  /* Para posicionar os botões para a mesma posição dos campos de texto */
  padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
.buttonrodapie {
  /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
  margin-left: .5em;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.container.box {
    background-color: #2F3644;
    border-radius: 5px;
    border: 2px solid #3E445B;
    width: 550px;
    margin:10px;
    display:table;
 
}
  
.container.box .box-row{
  display:table-row;
}  

.container.box .box-cell {
  display:table-cell;
  border:px solid black;
  width:25%;
  padding:60px;
}

.form {
  /* para centralizar */
  margin: 0 auto;
  width: 330px;
  /* bordas do formulário */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.form div + div {
  margin-top: 1em;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-bottom: 5px;
    
    color: #ffffff;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 70%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 80%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.4s;
}

.form textarea {
  min-height: 6rem;
  resize: vertical;
}
/*.carrusel {
  height: 100vh;
  display: flex;
  align-items: center;
}
.carrusel-items {
  display: flex;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  /*grid-column-start: 0;
  grid-column-end: 6;*/
  /*grid-column: 1 / 5;
  overflow-x: scroll;
  padding: 20px 10px;
}
.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 250px;
  outline: 3px solid black;
  cursor: pointer;
}
.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrusel-item:hover {
  transform: scale(1.1);
}*/